version: '3'
services:
  server1:
    build:
      dockerfile: Dockerfile.dev
      context: ./server
    volumes:
      - /app/node_modules
      - ./server:/app
    environment:
      - TEST_TYPE=1 # 0: ether sending test, 1: Smart contract testing test
      - DESIRED_RATE_TX=1
      - TEST_TIME_MINUTES=1
      - RPC_URL=http://RPC_URL:PORT
      - MAX_GAS_PER_TX=80000000 #not necessary to change this unless you change your BLOCKPERIODSECONDS.
      - NUMBER_OF_CONTAINERS=1
      - STORE_DATA=TRUE
      #- NODE_TLS_REJECT_UNAUTHORIZED=0
    ############ SETTING FOR ETHER TESTING (IF REQUIRED) ##############      
      - AMOUNT_DATA_BYTES=0
    ############ SETTING FOR SMART CONTRACT TESTING ##############
      - SMART_CONTRACT_ADDRESS=0x4cf5ff8672BC73A108744927083893662b3C38D5 #0x920BeC2BEcba71B34E619bBA1902Bfd44D792483 #0x68a185CAb9607B9BEb0B210Bf7CC320f3b3A3eFB
    network_mode: host #using localhost instead of isolated network

  server2:
    build:
      dockerfile: Dockerfile.dev
      context: ./server
    volumes:
      - /app/node_modules
      - ./server:/app
    environment: &environment
      - TEST_TYPE=1
      - DESIRED_RATE_TX=1
      - TEST_TIME_MINUTES=1
      - RPC_URL=http://RPC_URL:PORT
      - MAX_GAS_PER_TX=80000000
      - NUMBER_OF_CONTAINERS=1
      - STORE_DATA=FALSE
      #- NODE_TLS_REJECT_UNAUTHORIZED=0
    ############ SETTING FOR ETHER TESTING (IF REQUIRED) ##############      
      - AMOUNT_DATA_BYTES=0
    ############ SETTING FOR SMART CONTRACT TESTING ##############
      - SMART_CONTRACT_ADDRESS=0x4cf5ff8672BC73A108744927083893662b3C38D5 #0x920BeC2BEcba71B34E619bBA1902Bfd44D792483 #0x68a185CAb9607B9BEb0B210Bf7CC320f3b3A3eFB
    network_mode: host

  # server3:
  #   build:
  #     dockerfile: Dockerfile.dev
  #     context: ./server
  #   volumes:
  #     - /app/node_modules
  #     - ./server:/app
  #   environment: *environment
  #   network_mode: host

  # server4:
  #   build:
  #     dockerfile: Dockerfile.dev
  #     context: ./server
  #   volumes:
  #     - /app/node_modules
  #     - ./server:/app
  #   environment: *environment
  #   network_mode: host

  # server5:
  #   build:
  #     dockerfile: Dockerfile.dev
  #     context: ./server
  #   volumes:
  #     - /app/node_modules
  #     - ./server:/app
  #   environment: *environment
  #   network_mode: host